# Dam Problem

## Scenarios for training
Use Latin Hypercube sampling to sample 200 scenarios for both EA and model-free DQN to train their policies

In [1]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_dam_uncertain1 import dam_uncertain_problem1
from utils.ea.create_models import create_dam_robust_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
dam_model, _ = create_dam_robust_training(problem=dam_uncertain_problem1, random_seed=random_seed)

fixed_scenarios_num = 200
training_scenarios = sample_uncertainties(dam_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(training_scenarios, columns=training_scenarios.params)
scenarios_df.to_csv('../results/dam_scenarios/train_scenarios_rl.csv', index=False)
scenarios_df

         s_init
0    164.764069
1    163.329084
2    132.561850
3    134.602561
4    184.301308
..          ...
195  169.201454
196  199.992271
197  179.608782
198  198.304384
199  166.514866

[200 rows x 1 columns]

## Scenarios for evaluation
Use Latin Hypercube sampling to sample 5,000 scenarios to evaluate the performance of policies

In [2]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_dam_uncertain1 import dam_uncertain_problem1
from utils.ea.create_models import create_dam_robust_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
dam_model, _ = create_dam_robust_training(problem=dam_uncertain_problem1, random_seed=random_seed)

fixed_scenarios_num = 1000
training_scenarios = sample_uncertainties(dam_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(training_scenarios, columns=training_scenarios.params)
scenarios_df.to_csv('../results/dam_scenarios/evaluation_scenarios.csv', index=False)
scenarios_df

         s_init
0    155.321773
1    126.723411
2    136.122819
3    164.708120
4    165.943724
..          ...
995  199.910831
996  131.942802
997  176.601969
998  129.312759
999  159.885022

[1000 rows x 1 columns]

# Lake Problem

## Scenarios for training
Use Latin Hypercube sampling to sample 200 scenarios for both EA and model-free DQN to train their policies

In [4]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_lake_uncertain1 import lake_uncertain_problem1
from utils.ea.create_models import create_lake_deep_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
lake_model, _ = create_lake_deep_training(problem=lake_uncertain_problem1, random_seed=random_seed)

fixed_scenarios_num = 200
training_scenarios = sample_uncertainties(lake_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(training_scenarios, columns=training_scenarios.params)
scenarios_df.to_csv('../results/lake_scenarios/train_scenarios_rl.csv', index=False)
scenarios_df

            b     delta      mean         q     stdev
0    0.405955  0.989525  0.021083  2.501162  0.001169
1    0.404161  0.977599  0.013541  2.778973  0.001677
2    0.365702  0.977352  0.018141  2.026640  0.001580
3    0.368253  0.972076  0.016057  2.418540  0.001341
4    0.430377  0.975039  0.018341  2.194578  0.001199
..        ...       ...       ...       ...       ...
195  0.411502  0.982083  0.019853  2.476268  0.001177
196  0.449990  0.981433  0.021945  2.786710  0.001086
197  0.424511  0.988046  0.010001  2.664650  0.001204
198  0.447880  0.989978  0.022386  2.284481  0.001708
199  0.408144  0.982523  0.016686  2.138866  0.001884

[200 rows x 5 columns]

## Scenarios for evaluation
Use Latin Hypercube sampling to sample 5,000 scenarios to evaluate the performance of policies

In [1]:
import sys, random
sys.path.append("../")
import numpy as np
from EMAWorkbench.em_framework import sample_uncertainties
import pandas as pd
from models.ema_lake_uncertain1 import lake_uncertain_problem1
from utils.ea.create_models import create_lake_deep_training

random_seed = 3186775264
random_seed = random_seed
random.seed(random_seed)
np.random.seed(random_seed)
lake_model, _ = create_lake_deep_training(problem=lake_uncertain_problem1, random_seed=random_seed)

fixed_scenarios_num = 1000
evaluation_scenario = sample_uncertainties(lake_model, fixed_scenarios_num)
scenarios_df = pd.DataFrame(evaluation_scenario, columns=evaluation_scenario.params)
scenarios_df.to_csv('../results/lake_scenarios/evaluation_scenarios.csv', index=False)
scenarios_df

            b     delta      mean         q     stdev
0    0.394152  0.988445  0.022462  2.288250  0.001989
1    0.358404  0.980787  0.019681  2.412040  0.001070
2    0.370154  0.973234  0.011586  2.069689  0.001057
3    0.405885  0.977141  0.023722  2.748324  0.001477
4    0.407430  0.982980  0.011083  2.017728  0.001412
..        ...       ...       ...       ...       ...
995  0.449889  0.973243  0.024590  2.406265  0.001783
996  0.364929  0.977669  0.018504  2.553378  0.001336
997  0.420752  0.989461  0.019657  2.423532  0.001715
998  0.361641  0.978747  0.010098  2.244658  0.001657
999  0.399856  0.972723  0.013633  2.311686  0.001066

[1000 rows x 5 columns]